body {
    margin: 0;
    background: white;
    color: black;
    font-family: Arial, sans-serif;
}

header {
    padding: 30px;
}

h1 {
    font-size: 24px;
    font-weight: normal;
}

main {
    display: flex;
    gap: 40px;
    padding: 50px;
    align-items: center;
}

main img {
    width: 200px;
    height: auto;
}
